    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="footer-links">
                <p>Quick Links:</p>
                <a href="https://www.battsharlow.com/" target="_blank">Batts Table Tennis Club</a>
                <a href="https://stripe.com/gb/resources/more/secure-payment-systems-explained" target="_blank">Stripe Secure Payments</a>
                <a href="mailto:cbj.uk.design@gmail.com">cbj-uk-design</a>
            </div>
            <p>&copy; 2026 Carl Johnson Designs. All rights reserved.</p>
        </div>
    </footer>
